* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* for visual debugging */
/* * {
  border: 1px solid blue;
} */

.location-form {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
}

.location-form label {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.location-form input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  flex-grow: 1;
  min-width: 0;
}

.location-form button {
  padding: 6px 12px;
  border: 1px solid rgb(191, 204, 216);
  border-radius: 5px;
  background-color: #66c0e4;
  color: white;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.location-form button:hover {
  background-color: #69b7e1;
}

.weather-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #87ceeb;
  border-radius: 10px;
  color: white;
}

.todays-weather {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.todays-temperature {
  margin-right: 20px;
}

.todays-temperature h1 {
  font-size: 64px;
  margin: 0;
}

.todays-temperature h2 {
  font-size: 24px;
  margin: 5px 0 0;
}

.todays-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
}

#current-icon {
  margin-bottom: 10px;
  width: 100px;
}

.todays-details {
  text-align: right;
}

.todays-details p {
  margin: 5px 0;
  font-size: 14px;
}

.daily-forecasts {
  display: flex;
  padding: 10px 0;
  gap: 15px;
  margin-bottom: 20px;
  overflow-x: auto;
  scrollbar-color: #89afe0 transparent;
  scrollbar-width: thin;
}

.day {
  text-align: center;
  min-width: 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day p {
  margin: 5px 0;
  font-size: 12px;
}

.day-rain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.raindrop-icon {
  fill: #94a0a585;
}

.summary {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.summary h3 {
  font-size: 16px;
  margin: 0;
}

.summary p {
  font-size: 14px;
  margin: 5px 0 0;
}
