* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.location-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 10px;
}

.location-form label {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.location-form-inputs input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  flex-grow: 1;
  min-width: 0;
}

.location-form-inputs input:focus {
  outline: none;
}

.location-form-controls button {
  padding: 8px 12px;
  border: 1px solid rgb(234, 238, 241);
  border-radius: 5px;
  background-color: #66c0e4;
  color: white;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 10px;
}

.location-form-controls button:hover {
  background-color: #69b7e1;
}

.fc-toggle-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

.fc-toggle {
  display: none;
}

.fc-toggle-label {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  transition: background-color 0.2s;
}

.fc-toggle-label .fahrenheit,
.fc-toggle-label .celsius {
  width: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.fc-toggle-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.fc-toggle:checked + .fc-toggle-label::before {
  transform: translateX(30px);
}

.fc-toggle:checked + .fc-toggle-label {
  background-color: #a19692;
}

.weather-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #87ceeb;
  border-radius: 10px;
  color: white;
}

.todays-weather {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.todays-top-side {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.todays-temperature {
  margin-right: 10px;
}

.todays-temperature h1 {
  font-size: 64px;
  margin: 0;
}

.todays-temperature h2 {
  font-size: 24px;
  margin: 5px 0 0;
}

.todays-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
}

#current-icon {
  margin-bottom: 10px;
  width: 100px;
}

.todays-details {
  text-align: right;
}

.todays-details p {
  margin: 5px 0;
  font-size: 14px;
}

.daily-forecasts {
  display: flex;
  padding: 10px 0;
  gap: 15px;
  margin-bottom: 20px;
  overflow-x: auto;
  scrollbar-color: #69b7e1 transparent;
  scrollbar-width: thin;
}

.day {
  text-align: center;
  min-width: 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day p {
  margin: 5px 0;
  font-size: 12px;
}

.day-rain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.raindrop-icon {
  fill: #94a0a585;
}

.summary {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.summary h3 {
  font-size: 16px;
  margin: 0;
}

.summary p {
  font-size: 14px;
  margin: 5px 0 0;
}

.temp-unit {
  font-size: 0.5em;
  vertical-align: super;
  margin-left: 2px;
  font-weight: lighter;
}
